
# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
  

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
ios/index/DataStore      

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
.sts4-cache

# BUCK
buck-out/
\.buckd/
*.keystore

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata
bin/

# VSCode
.vscode      
